.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 0px;
    margin: 8px 30px 8px 0px;
    font-weight: bold;
    
    
}
.Button:disabled{
    color : #ccc;
}
/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}